@model Application.ViewModels.SaveProductoraViewModel
@{   
    ViewData["Title"] = "Eliminar productora";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4>¿Está seguro que desea eliminar la productora: "@Model.Nombre"?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Productora" asp-action="DeletePost">                 

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Aceptar</button>
                    <a asp-controller="Home" asp-action="Productora" class="btn btn-warning">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

